---
layout: default
---

{% include section-slider.html %}

{% include section-services.html %}

{% include section-skills.html %}

{% include section-portfolio.html %}

{% comment %}

<!-- {% include section-aboutus.html %} -->

<!-- {% include section-stats.html %} -->

<!-- {% include section-video.html %} -->

<!-- {% include section-team.html %} -->

<!-- {% include section-pricing.html %} -->

{% endcomment %}

{% include section-blog.html %}

{% comment %}

<!-- {% include section-testimonial.html %} -->

<!-- {% include section-clients.html %} -->

{% endcomment %}

{% include section-contact.html %}

{% include section-map.html %}

<!-- <div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
 -->