<header id="section_header" class="navbar-fixed-top main-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-xs hidden-sm" href="{{ site.baseurl }}">
        <i class="fa fa-shopping-cart hidden-md"></i> Werk aan de webshop
      </a>
      <a class="navbar-brand small hidden-md hidden-lg" href="{{ site.baseurl }}">
        <i class="fa fa-shopping-cart"></i>WADW.com
      </a>
    </div><!--Navbar header End-->
    <nav class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
      <ul class="nav navbar-nav navbar-right ">
        <li class="active"> <a href="#slider_part" class="page-scroll">Home </a></li>
        <li><a href="#service"  class="page-scroll">Services</a> </li>
        <li><a href="#portfolio" class="page-scroll" >Ons werk</a> </li>
        <li><a href="#blog" class="page-scroll">Blog</a> </li>
        <li><a href="#contact" class="page-scroll">Contact</a> </li>
        <!-- {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
        {% endfor %} -->
      </ul>
    </nav>
  </div>
</header>