<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="feature_header text-center">
					<h3 class="feature_title">FF <b>babbelen?</b></h3>
					<h4 class="feature_sub">Wil je meer informatie? Vul dan even dit formulier in. We nemen dan zo snel mogelijk contact met je op.</h4>
					<div class="divider"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="contact_full">
				<form action="//formspree.io/mark@werkaandewebshop.com" method="POST">
					<div class="col-md-6 left">
						<div class="left_contact">
							
								<div class="form-level">
									<input name="naam" placeholder="Naam" id="name"  value="" type="text" class="input-block">
									<span class="form-icon fa fa-user"></span>
								</div>
								<div class="form-level">
									<input name="email" placeholder="E-mailadres" id="mail" class="input-block" value="" type="email">
									<span class="form-icon fa fa-envelope-o"></span>
								</div>
								<div class="form-level">
									<input name="telefoon" placeholder="Telefoonnummer" id="phone" class="input-block" value="" type="text">
									<span class="form-icon fa fa-phone"></span>
								</div>
								<input type="hidden" name="_subject" value="Contact via werkaandewebshop.nl" />
								<input type="text" name="_gotcha" style="display:none" />
						</div>
					</div>

					<div class="col-md-6 right">
						<div class="form-level">
							<textarea name="bericht" id="messege" rows="5" class="textarea-block" placeholder="Bericht"></textarea>
							<span class="form-icon fa fa-pencil"></span>
						</div>
					</div>
					<div class="col-md-12 text-center">
						<input type="submit" class="btn btn-main featured" value="Verzenden">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>