<section id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="feature_header text-center">
          <h3 class="feature_title"><strong>Services</strong></h3>
          <h4 class="feature_sub">Bekijk onze services</h4>
          <div class="divider"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="main_feature text-center">
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature_content">
            <i class="fa fa-lightbulb-o"></i>
            <h5>Advies</h5>
            <p>Door jarenlange ervaring in e-business maken we jouw bedrijf beter.</p>
            <button class="btn btn-main"> Lees meer</button>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature_content">
            <i class="fa fa-pencil"></i>
            <h5>Implementatie</h5>
            <p>Van simpele storefronts tot complexe backend koppelingen.</p>
            <button class="btn btn-main"> Lees meer</button>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature_content">
            <i class="fa fa-cog"></i>
            <h5>Support</h5>
            <p>Ondersteuning voor jouw online activiteiten op de lange termijn.</p>
            <button class="btn btn-main"> Lees meer</button>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 col-sm-6">
          <div class="feature_content">
            <i class="fa fa-desktop"></i>
            <h5>Trainingen</h5>
            <p>Leer om jouw online aanwezigheid onder controle te houden.</p>
            <button class="btn btn-main"> Lees meer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>