<section id="pricing_table" class="pricing_overlay">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="feature_header text-center">
					<h3 class="feature_title">Our <b>Pricing</b></h3>
					<h4 class="feature_sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h4>
					<div class="divider"></div>
				</div>
			</div>
			<div class="text-center pricing">
				<div class="col-md-4 col-xs-12 col-sm-12">
					<div class="single_table">
						<div class="plan_wraper"></div>
						<ul>
							<li class="plan">Standard <br><span>Monthly plan</span></li>
							<li class="price"> 29 <span>$</span></li>
							<li> 20 gb disk Space</li>
							<li>Monthly Bandwidth</li>
							<li>Unlimited Users</li>
							<li> 150 Domains</li>
							<li> 150 Email Account</li>
							<li> Automated Cloud Backup</li>
							<li class="price_button"> <button class="btn btn-main">Sign UP Now!</button></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12">
					<div class="single_table grey_bg  ">
						<div class="plan_wraper"></div>
						<ul>
							<li class="plan">Unlimited  <br><span>Monthly plan</span></li>
							<li class="price"> 29 <span>$</span></li>
							<li> 20 gb disk Space</li>
							<li>Monthly Bandwidth</li>
							<li>Unlimited Users</li>
							<li> 150 Domains</li>
							<li> 150 Email Account</li>
							<li> Automated Cloud Backup</li>
							<li class="price_button"> <button class="btn btn-main featured">Sign UP Now!</button></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12">
					<div class="single_table dark_bg">
						<div class="plan_wraper"></div>
						<ul>
							<li class="plan">Premium  <br><span>Monthly plan</span></li>
							<li class="price"> 29 <span>$</span></li>
							<li> 20 gb disk Space</li>
							<li>Monthly Bandwidth</li>
							<li>Unlimited Users</li>
							<li> 150 Domains</li>
							<li> 150 Email Account</li>
							<li> Automated Cloud Backup</li>
							<li class="price_button"> <button class="btn btn-main">Sign UP Now!</button></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>