<section id="testimonial" class="wow fadeInUp">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="feature_header text-center">
					<h3 class="feature_title"><b>Customers</b> Feedback</h3>
					<h4 class="feature_sub">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </h4>
					<div class="divider"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div id="testimonial-carousel" class="owl-carousel owl-theme text-center testimonial-slide">
				<div class="item">
					<div class="testimonial-thumb">
						<img class="img-circle" src="images/team/pic1.jpg" alt="testimonial" >
					</div>
					<div class="testimonial-content">
						<h3 class="name">Katee Nureen <span>Exectuive Director</span></h3>
						<p class="testimonial-text">
							iLorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
						</p>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-thumb">
						<img class="img-circle" src="images/testimonial2.png" alt="testimonial" > 
					</div>
					<div class="testimonial-content">
						<h3 class="name">Angry Figer <span>Frozen Director</span></h3>
						<p class="testimonial-text">
							Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
						</p>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-thumb">
						<img class="img-circle" src="images/team/pic6.jpg" alt="testimonial" >
					</div>
					<div class="testimonial-content">
						<h3 class="name wow bounceInLeft">Monica Lunaxy<span>Sales Manager</span></h3>
						<p class="testimonial-text">
							Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.
						</p>
					</div>
				</div>
			</div>
			<div class="customNavigation cyprass-carousel-controller">
				<a class="prev left">
					<i class="fa fa-chevron-left"></i>
				</a>
				<a class="next right">
					<i class="fa fa-chevron-right"></i>
				</a>
			</div>
		</div>
	</div>
</section>