<section id="about-details">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="feature_header text-center">
					<h3 class="feature_title"><strong>Skills</strong></h3>
					<h4 class="feature_sub">Vaardigheden en ervaringen</h4>
					<div class="divider"></div>
				</div>
			</div>
		</div>
		<div class="about-desc">
			<div class="row">
				<div class="col-md-6">
					<div class="single-progress">
						<label>Webshop systemen: SEOShop, Magento, Drupal Commerce, Custom</label>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-progress">
						<label>CMS systemen: Drupal, Magnolia CMS</label>
						<div class="progress">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="single-progress">
						<label>Integratie: Betaling (PSP), ERP, CRM, Financiëel</label>
						<div class="progress">
							<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single-progress">
						<label>Development: Java, PHP, JavaScript</label>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>