<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="feature_header text-center">
					<h3 class="feature_title">Ons <b>Werk</b></h3>
					<h4 class="feature_sub">Hieronder zie je een greep uit ons werk.</h4>
					<div class="divider"></div>
				</div>
			</div>
		</div>
	</div>


	<div id="isotope-filter" class="skew3 text-center">
		<a data-filter="*"  href="#" class="active ">Alles</a>
		<a data-filter=".identity"  href="#" class="">Identiteit</a>
		<a data-filter=".web-design" href="#"  class="">Web Design</a>
		<a data-filter=".graphic"  href="#" class="">Integratie</a>
		<a data-filter=".logo"  href="#" class="">Optimalisatie</a>
	</div>
	<div class="clearfix"></div>
	<div class="text-center ">
		<ul class="portfolio-wrap" id="portfolio_items">
			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio identity web-design">
				<figure>
					<img src="images/portfolio/fopshop.jpg" alt="" />
					<figcaption>
						<h5>Fopshop.nl</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/fopshop.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio logo graphic">
				<figure>
					<img src="images/portfolio/p2.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p2.jpg"  data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio graphic logo">
				<figure>
					<img src="images/portfolio/p3.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio web-design identity">
				<figure>
					<img src="images/portfolio/p7.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio logo web-design">
				<figure>
					<img src="images/portfolio/p5.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p5.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio logo graphic">
				<figure>
					<img src="images/portfolio/p6.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p6.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio graphic identity">
				<figure>
					<img src="images/portfolio/p3.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p3.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>

			<li class="col-xs-12 col-sm-6 col-md-3 single-portfolio web-design graphic">
				<figure>
					<img src="images/portfolio/p7.jpg" alt="" />
					<figcaption>
						<h5>Creative Zoe</h5>
						<p class="links">
							<a href="portfolio-single.html"> <i class="fa fa-link"></i></a>
							<a href="images/portfolio/p7.jpg" data-rel="prettyPhoto" class="img-responsive">
								<i class="fa fa-plus"></i>
							</a>
						</p>
						<p class="description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						</p>
					</figcaption>
				</figure>
			</li>
		</ul>
	</div>
</section>