<section id="counter_area">
	<div class="facts">
		<div class="container">
			<div class="col-md-3 col-xs-12 col-sm-6 columns">
				<div class="facts-wrap">
					<div class="graph">
						<div class="graph-left-side">
							<div class="graph-left-container">
								<div class="graph-left-half"> </div>
							</div>
						</div>
						<div class="graph-right-side">
							<div class="graph-right-container">
								<div class="graph-right-half"></div>
							</div>
						</div>
						<i class="fa fa-thumbs-o-up fa-3x fw"></i>
						<div class="facts-wrap-num">
							<span class="counter">87</span>
						</div>
					</div>
					<h6>Clients</h6>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6 columns">
				<div class="facts-wrap">
					<div class="graph">
						<div class="graph-left-side">
							<div class="graph-left-container">
								<div class="graph-left-half"> </div>
							</div>
						</div>
						<div class="graph-right-side">
							<div class="graph-right-container">
								<div class="graph-right-half"></div>
							</div>
						</div>
						<i class="fa fa-gift fa-3x fw"></i>
						<div class="facts-wrap-num"><span class="counter">25</span></div>
					</div>
					<h6>Awards</h6>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6 columns">
				<div class="facts-wrap">
					<div class="graph">
						<div class="graph-left-side">
							<div class="graph-left-container">
								<div class="graph-left-half"> </div>
							</div>
						</div>
						<div class="graph-right-side">
							<div class="graph-right-container">
								<div class="graph-right-half"></div>
							</div>
						</div>
						<i class="fa fa-check-square-o fa-3x fw"></i>
						<div class="facts-wrap-num"><span class="counter">68</span></div>
					</div>
					<h6>Projects</h6>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6 columns">
				<div class="facts-wrap">
					<div class="graph">
						<div class="graph-left-side">
							<div class="graph-left-container">
								<div class="graph-left-half"> </div>
							</div>
						</div>
						<div class="graph-right-side">
							<div class="graph-right-container">
								<div class="graph-right-half"></div>
							</div>
						</div>
						<i class="fa fa-envelope-o fa-3x fw"></i>
						<div class="facts-wrap-num"><span class="counter">46</span></div>
					</div>
					<h6>Mails</h6>
				</div>
			</div>
		</div>
	</div>
</section>